ul {
  margin-bottom: 0;
}

.nav ul {
  height: 45px;
}

.main-body {
  width: 100%;
  margin-top: 20px;
}

.main-body .content-wrap {
  width: 1240px;
  margin: 0 auto;
  font-size: 14px;
}

.main-body .content-wrap .tag {
  height: 20px;
  margin-bottom: 7px;
}

.main-body .content-wrap .tag li {
  float: left;
}

.main-body .content-wrap .tag li a {
  color: #969696;
}

.main-body .content-wrap .categoryList {
  height: 224px;
}

.main-body .content-wrap .categoryList > li {
  height: 56px;
  border-top: 1px solid #e2e2e2;
}

.main-body .content-wrap .categoryList > li .category-cont {
  height: 19px;
  padding: 18px 0;
}

.main-body .content-wrap .categoryList > li .category-cont .main-category a {
  color: #ff498c;
  float: left;
}

.main-body .content-wrap .categoryList > li .category-cont ul {
  float: left;
}

.main-body .content-wrap .categoryList > li .category-cont ul li {
  float: left;
  padding: 0px 22px;
  border-right: 1px solid #e2e2e2;
}

.main-body .content-wrap .categoryList > li .category-cont ul li a {
  color: #535353;
}

.main-body .content-wrap .categoryList > li .category-cont ul li:last-child {
  border: 0;
}

.main-body .content-wrap .goods-list .category-cont {
  height: 47px;
  border-top: none;
  background-color: #f8f8f8;
  padding: 14px 0px;
}

.main-body .content-wrap .goods-list .category-cont > li {
  float: left;
  padding: 0px 22px;
  border-right: 1px solid #e2e2e2;
}

.main-body .content-wrap .goods-list .category-cont > li a {
  color: #535353;
}

.main-body .content-wrap .goods-list .goods-list-show {
  min-height: 385px;
  margin-top: 30px;
}

.main-body .content-wrap .goods-list .goods-list-show ul {
  width: 1250px;
}

.main-body .content-wrap .goods-list .goods-list-show ul li {
  width: 302px;
  height: 385px;
  float: left;
  padding-right: 10px;
  margin-bottom: 10px;
}

.main-body .content-wrap .goods-list .goods-list-show ul li .goods-img {
  width: 302px;
  height: 302px;
  vertical-align: top;
  margin-bottom: 20px;
}

.main-body .content-wrap .goods-list .goods-list-show ul li .goods-title {
  height: 21px;
  line-height: 21px;
}

.main-body .content-wrap .goods-list .goods-list-show ul li .goods-title a {
  color: #969696;
}

.main-body .content-wrap .goods-list .goods-list-show ul li .goods-price {
  margin-top: 20px;
  color: #969696;
}
